body {
    font-family: Arial, sans-serif;
    line-height: 2.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: goldenrod;
  }
  
  header {
    background: #222222;
    color: #ffffff;
    padding: 40px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 10px;
  }
  
  nav ul li a {
    color: #ffffff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  .section {
    margin: 25px 20px 20px 25px;
    padding: 50px;
    font-size: 16px;
    background: #222222;
    color: #ffffff;
    border-radius: 12px;
    border-style: solid;
  }

  #cat {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  form input, form textarea, form button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #adadad;
    border-radius: 4px;
  }
  
  form button {
    background: #333333;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  form button:hover {
    background: #555555;
  }
  
  footer {
    text-align: center;
    padding: 1rem 0;
    background: #222222;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  @media (max-width: 600px) {
    body { font-size: 16px; }
  }